@charset "utf-8"

// vibe colors
$vibe-black: #111111
$vibe-purple: #6666CC
$vibe-teal: #66CCCC
$vibe-pink: #FF6666
$vibe-light-grey: #f6f6f6
$vibe-yellow: #FFCC00
$vibe-white: #F4F4F4
$vibe-gray: #828282
$vibe-almost-white: #F8F8F8

// vibe fonts
$vibe-family-body: "Fira Sans", BlinkMacSystemFont, -apple-system, "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif
$vibe-family-heading: Stratos, BlinkMacSystemFont, -apple-system, "Microsoft YaHei", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif

$vibe-bold: 500

.page > .el-row.filter-container
  display: flex
  margin-bottom: .5rem
  .el-row > :not(:first-child)
    margin-left: .5rem
.f-row
  display: flex
  &.row-center
    justify-content: center
  &.col-center
    align-items: center

.f-col
  display: flex
  flex-direction: column
  &.row-center
    align-items: center
  &.col-center
    justify-content: center

.f-row, .f-col
  &.warp
    flex-wrap: wrap

.btn
  display: flex
  align-items: center
  height: 3rem
  padding: 1px 32px
  border: 1px solid #000
  border-radius: 24px

.f-row.controls
  align-items: center
  margin-top: 0.5rem
  .tips
    margin-left: 1rem
    width: 20px
    height: 20px
    cursor: pointer
  & + .el-button
    margin-top: .5rem

.add-minus-row
  width: 100%
  margin-bottom: 1rem
  .el-form-item
    margin-right: 2rem
    margin-bottom: 0
  .el-form-item__label
    width: auto !important
  .svg-icon
    margin-right: 4px
  & > .el-form-item
    align-items: center
    min-height: 50px

.icon
  cursor: pointer
  .close-icon
    float: right
    width: 24px
    height: 24px

.cursor-pointer
  cursor: pointer

.mgt-5
  margin-top: 5px
.mgt-10
  margin-top: 10px
.mgl-5
  margin-left: 5px
.mgl-10
  margin-left: 10px
.mgl-16
  margin-left: 16px
.mgl-32
  margin-left: 32px
